<h2>ブログ一覧画面</h2>

<p><%= notice %></p>

<table>
    <tr>
        <th>タイトル</th>
        <th>内容</th>
    </tr>
    <% @blogs.each do |article| %>
    <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to "ブログを編集する", edit_blog_path(article.id) %></td>
        <td><%= link_to "ブログを削除する", blog_path(article.id), method: :delete %></td>
    </tr>
    <% end %>
</table>

<%= link_to "ブログ作成画面はこちら", new_blog_path %>